:root {
    --primary-color: #0061ff;
    --secondary-color: #b4d0e7;
    --third-color: #969697;
    --border-color: #ececed;
    --default-space: 70px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: .5rem;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.container-xl {
    max-width: 1200px;
}

section {
    width: 100%;
    padding-top: var(--default-space);
    padding-bottom: var(--default-space);
    border: 1px solid red;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-align-stretch {
    align-items: stretch;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-gap {
    gap: 2rem;
}

/* List */
ul {
    list-style: none;
}
/****/

/* Button */
.btn {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: .5rem .8rem;
    border: none;
    cursor: pointer;
}

.btn-light {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

.check-radio {
    padding-bottom: 2rem;
}

.check-radio label {
    padding-right: 2rem;
}
/****/

/* Start Nav */
nav {
    padding: 1.5rem;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 0 1rem;
}

nav img {
    max-width: 200px;
    padding-right: 1rem;
}

nav a {
    text-decoration: none;
    color: #000000;
}
/* End Nav */

/* Start Header */
header {
    background-color: var(--secondary-color);
    padding-top: var(--default-space);
    margin-bottom: 4.5rem;
}

header .btn {
    margin-bottom: 1.5rem;
}

header i {
    font-size: 2rem;
    position: absolute;
    bottom: 10px;
    left: 0;
}

header p {
    padding-bottom: 1.5rem;
}

.section-hero div:first-child {
    margin-top: 4.5rem;
    position: relative;
    min-width: 300px;
}

.section-hero div:last-child {
    transform: translate(0, 4.5rem);
}

.section-hero div:last-child img {
    max-width: 50rem;
}
/* End Header */

/* Start Main */
/* Section business */
.card-business {
    border: 2px solid var(--border-color);
    flex-basis: 0;
    flex-grow: 1;
}

.card-business-big {
    margin-top: 3rem;
}

.card-business > div:first-child {
    text-align: center;
    padding: .5rem 0;
    border-bottom: 2px solid var(--border-color);
}

.card-business > div:nth-child(2), .card-business > div:nth-child(3) {
    padding: 2rem;
}

.card-business div:nth-child(3) {
    position: relative;
}

.card-business div:nth-child(3)::after {
    content: "";
    background: var(--border-color);
    position: absolute;
    top: 0;
    left: 2rem;
    height: 3px;
    width: 50px;
}

.card-business .btn {
    font-size: 1rem;
    margin: 3rem 0 2rem 0;
    padding: .8rem 1rem;
    width: 100%;
}

.card-business > div:nth-child(2) > ul {
    padding-top: 2rem;
}

.card-business > div:nth-child(3) > ul {
    padding-top: .2rem;
}

.card-business > div:nth-child(3) i {
    color: var(--primary-color);
}

.card-business li {
    padding: .5rem 0;
}

.card-business li i {
    padding-right: .5rem;
}

.card-business .color-text {
    color: var(--third-color);
}

.card-business-big .btn {
    margin-top: 0;
    margin-right: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.card-business-big .padding-text {
    padding-top: 2rem;
}

.card-business-section-center {
    padding-right: 2rem;
}

/* Section partner */
.card-partner img {
    width: 100%;
    padding-right: 2rem;
}

.card-partner > div {
    flex-basis: 0;
}

.card-partner > div:last-child {
    padding: 2rem 2rem 0 0;
}

.card-partner .btn-light {
    margin-top: 2rem;
}
/* End Main */